.custom-cursor {
  position: absolute;
  height: $cursor-default-size;
  width: $cursor-default-size;
  border: 1px solid rgba($color-gray-0, 0.66);
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.3s linear;

  &__hovering {
    border: none;
    height: $cursor-hover-size;
    width: $cursor-hover-size;
    background-color: rgba($color-gray-0, 0.66);
    &::before {
      content: "View";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font: 400 1rem/1 sans-serif;
    }
  }
}
